body
{
	margin:0;
	padding:0;
	font-family: sans-serif;

}
.drop
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

button
{
	position: relative;
	width: 100%;
	height: 60px;
	font-size: 24px;
	background: #2196f3;
	border: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	color: #fff;

}
ul
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #ccc;
	transform-origin: top;
	transform: perspective(1000px) rotateX(-90deg);
	transition: 0.5s;
}
ul.active
{
	transform: perspective(1000px) rotateX(0deg);
}

ul li
{
	display: block;
	padding: 5px;
	background: #262626;
	color: #fff;
	transition: 0.5s;
}
ul li:hover
{
	background: #0d7ad0;
}